<h1>Orden</h1>
<div id="cliente">
  <p>Cliente:</p>
  <input type="text" [(ngModel)]="clientName" (blur)="onBlur(clientName)" />
</div>

<div *ngIf="productsSelected">
  <div *ngFor="let productOrder of productsSelected" class="product-detail">
    <div class="product-name">{{ productOrder.product.name }}</div>
    <div class="product-qty">
      <img
        src="../../assets/products-images/circle-minus-solid (2).svg"
        class="order-icon minus-icon"
        (click)="minusQty(productOrder)"
      />
      <div class="product-qty">{{ productOrder.qty }}</div>
      <img
        src="../../assets/products-images/circle-plus-solid (2).svg"
        class="order-icon"
        (click)="plusQty(productOrder)"
      />
    </div>
    <div class="product-total">${{ productOrder.totalPrice }}</div>
    <img
      src="../../assets/products-images/trash-solid (1).svg"
      class="order-icon"
      (click)="deleteProduct(productOrder)"
    />
  </div>
</div>

<div class="total-price">Total: ${{ precioTotalOrden }}</div>

<button (click)="submitOrder.emit()">Crear Orden</button>
