<nav>
  <span (click)="showCookedOrders()">Para entregar</span>
</nav>
<main>
  <div id="menu">
    <app-menu (productoSeleccionado)="reciboProducto($event)"></app-menu>
  </div>
  <section>
    <div id="order">
      <app-order
        #orderComponent
        [productsSelected]="productosSeleccionados"
        [precioTotalOrden]="precioTotal"
        (newOrderClient)="reciboCliente($event)"
        (decrease)="decreaseQuantity($event)"
        (increase)="increaseQuantity($event)"
        (delete)="deleteProduct($event)"
        (submitOrder)="saveOrder()"
      ></app-order>
    </div>
  </section>
</main>
